.card {
  border: 1px solid rgb(241, 240, 240);
  border-radius: 5px;
  width: 60%;
  padding-top: 15px;
  margin: 15px;
  text-decoration: none;
}

.field {
  flex-grow: 1;
  margin: 5px;
}

.field input {
  width: 100%;
}

input[type="file"]::file-selector-button {
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.file-content {
  margin: 5px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  padding: 5px;
}
