<div class="comment-card">
  <div class="user-avatar">
    <!-- Display user avatar here -->
    <img
      [src]="
        'http://localhost:8080/api/images/get-avatar?name=' +
        comment.user.avatarUrl
      "
      alt=""
    />
  </div>
  <div class="comment-content">
    <div class="user-info">
      <span class="user-name">{{
        comment.user.firstName + " " + comment.user.lastName
      }}</span>
    </div>
    <div class="comment-text">{{ comment.comment }}</div>
  </div>
</div>
