<form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
  <p-dialog [(visible)]="isViewable" [closable]="false">
    <ng-template pTemplate="headless">
      <div
        class="flex flex-column px-8 py-5 gap-4"
        style="
          border-radius: 12px;
          background-image: radial-gradient(
            circle at left top,
            var(--primary-400),
            var(--primary-700)
          );
        "
      >
        <div
          class="flex justify-content-center text-primary-50 font-semibold fs-2"
        >
          Change Password
        </div>
        <div class="inline-flex flex-column gap-2">
          <label for="currentPassword" class="text-primary-50 font-semibold"
            >Current password</label
          >
          <input
            type="password"
            pInputText
            formControlName="currentPassword"
            id="currentPassword"
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
          />
          <small
            *ngIf="
              currentPassword.invalid &&
              (currentPassword.dirty || currentPassword.touched)
            "
            class="block p-error"
          >
            <div *ngIf="currentPassword.errors?.['required']">
              Password is required
            </div>
          </small>
        </div>
        <div class="inline-flex flex-column gap-2">
          <label for="newPassword" class="text-primary-50 font-semibold"
            >New password</label
          >
          <input
            type="password"
            pInputText
            id="newPassword"
            formControlName="newPassword"
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
          />
          <small
            *ngIf="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
            class="block p-error"
          >
            <div *ngIf="newPassword.errors?.['required']">
              New password is required
            </div>
          </small>
        </div>
        <div class="inline-flex flex-column gap-2">
          <label for="newPasswordRepeated" class="text-primary-50 font-semibold"
            >Repeate</label
          >
          <input
            type="password"
            pInputText
            id="newPasswordRepeated"
            formControlName="newPasswordRepeated"
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
          />
          <small
            *ngIf="
              newPasswordRepeated.invalid &&
              (newPasswordRepeated.dirty || newPasswordRepeated.touched)
            "
            class="block p-error"
          >
            <div *ngIf="newPasswordRepeated.errors?.['required']">
              New password repeated is required
            </div>
          </small>
          <small
            class="block p-error"
            *ngIf="passwordChangeForm.errors?.['passwordMatchChangePassword'] && newPassword.valid && newPasswordRepeated.valid"
          >
            Password should match
          </small>
        </div>
        <div class="flex align-items-center gap-2">
          <p-button
            label="Change"
            [text]="true"
            type="ngSubmit"
            styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
            class="w-full"
            [disabled]="!passwordChangeForm.valid"
          ></p-button>
          <p-button
            label="Cancel"
            [text]="true"
            (onClick)="hideModalCancle()"
            styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
            class="w-full"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</form>
