<div
  [id]="'carousel' + differentiateTabs + program.id"
  class="carousel slide carousel-fade"
>
  <div class="carousel-indicators">
    <button
      *ngFor="let img of program.images; let i = index"
      type="button"
      [attr.data-bs-target]="'#carousel' + differentiateTabs + program.id"
      [attr.data-bs-slide-to]="i"
      [class.active]="i === 0"
      [attr.aria-current]="i === 0 ? 'true' : 'false'"
      aria-current="true"
      aria-label="img.name"
    ></button>
  </div>
  <div class="carousel-inner">
    <ng-container
      *ngIf="program.images && program.images.length > 0; else defaultImage"
    >
      <div
        *ngFor="let img of program.images; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <img
          [src]="
            'http://localhost:8080/api/images/get-program-image/' +
            program.id +
            '/' +
            img.name
          "
          class="d-block w-100"
          style="height: 200px"
        />
      </div>
      <ng-container *ngIf="program.images && program.images.length > 1">
        <button
          class="carousel-control-prev"
          type="button"
          [attr.data-bs-target]="'#carousel' + differentiateTabs + program.id"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          [attr.data-bs-target]="'#carousel' + differentiateTabs + program.id"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </ng-container>
    </ng-container>
    <ng-template #defaultImage>
      <div class="carousel-item active">
        <!-- Default Image -->
        <img
          src="./assets/default.jpeg"
          class="d-block w-100"
          alt="Default Image"
          height="200px"
        />
      </div>
    </ng-template>
  </div>
  <div style="padding: 5px">
    <div class="card-body">
      <h5 class="card-title">{{ program.name }}</h5>
      <p class="card-text">Price: {{ program.price | currency }}</p>
      <hr />
      <div style="display: flex; justify-content: space-between">
        <div class="justify-content-start">
          <a
            [routerLink]="['/program-details', program.id]"
            class="btn btn-primary"
            >View more</a
          >
        </div>
        <div class="justify-content-end" *ngIf="isCreated">
          <a (click)="deleteProgram()" class="btn btn-warning">Delete</a>
          <p-toast></p-toast>
        </div>
      </div>
    </div>
  </div>
</div>
